files/.config/configstore
files/.config/direnv/
files/.config/hub*
files/.config/git
files/.config/yarn
files/.ssh/*id*
files/.ssh/authorized_keys
files/.ssh/known_hosts
files/.tmuxinator/*
files/.ultrahook
files/.zsh/private-aliases
files/.zsh/private-exports
